@model Slider

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.ImagePath)
    @Html.HiddenFor(x => x.UserID)
    @Html.HiddenFor(x => x.Status)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.CreatedIP)
    @Html.HiddenFor(x => x.CreatedComputerName)
    @Html.HiddenFor(x => x.ModifiedDate)
    @Html.HiddenFor(x => x.ModifiedIP)
    @Html.HiddenFor(x => x.ModifiedComputerName)

    <div class="form-group">
        <label for="email">Film Adı:</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" }) @Html.ValidationMessageFor(x=> x.Title)
    </div>
    <div class="form-group">
        <label for="email">Mevcut Resim</label>
        <img src="~/Content/@Model.ImagePath" />
    </div>
    <div class="form-group">
        <label for="pwd">Resmi güncellemek istiyorsanız yeni resim seçiniz</label>
            <input type="file" name="resim" />
    </div>
    <button type="submit" class="btn btn-default">Güncelle</button>
}

